body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f6f7f8 !important;
  font-family: acumin-pro, sans-serif !important;
  font-style: normal;
  background-image: url("/public/images/banner.jpg");
}

a {
  color: #00B7FF;
}
